// Default font-size = 16px

// Paraghraph
$default-font: 1.125rem; //18px
$font-p: 1rem; // 16px

// FONTS WEIGHT

$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$extra-light: 200;

.extra-bold {
    font-weight: 800;
}
.bold {
    font-weight: 700;
}
.semi-bold {
    font-weight: 600;
}
.medium {
    font-weight: 500;
}
.regular {
    font-weight: 400;
}
.light {
    font-weight: 300;
}
.extra-light {
    font-weight: 200;
}

// FONTS HEADER

h1 {
    font-size: calc(50px + 10vw); // 22px
    font-weight: $bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: var(--letter-spacing, -17.5px); // Postavljamo početnu vrednost
    opacity: 1;
    margin: 0;
    font-weight: 600;
    padding: 0;
    color: white;
    text-shadow: -2px -2px 0 #b7fffb, 2px -2px 0 #b7fffb, -2px 2px 0 #b7fffb, 2px 2px 0 #b7fffb;
}
h2 {
    text-align: left;

    line-height: 39px;
    font-weight: $bold;

    opacity: 1;
    // font-size: $font-h2;
}
h3 {
    text-align: left;

    line-height: 39px;
    font-weight: $regular;
    letter-spacing: 0px;

    opacity: 1;
    // font-size: $font-h3;
}
p {
    font-size: calc(12.4px + 0.5vw); // 22px
    font-weight: $regular;
    margin-bottom: 10px;
}
h2.text-big {
    color: #fff;
    font-size: calc(30px + 3vw); // 22px
    font-weight: 400;
    letter-spacing: -2.61px;
}
h2.text-small {
    color: #fff;
    font-size: calc(18.6px + 0.8vw);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.61px;
}
@media screen and (max-width: 900px) {
    h1 {
        --letter-spacing: 0; // Smanjujemo letter spacing na 0 za mobilne ekrane
    }
}
